<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="Как стать тренером. Сделать свой успешный тренинг")
		meta(name="keywords" content="")
		meta(name="robots" content="index, follow")
		meta(name="revisit-after" content="7 days")
		meta(property="og:image" content="")
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.png")
		title Как стать тренером. Сделать свой успешный тренинг
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/owl.carousel.min.css")
		link(rel="stylesheet" href="css/owl.theme.default.min.css")
		link(rel="stylesheet" href="css/styles.css")
	body
		include pug/main
		include pug/for
		include pug/scripts