section#coaches
	h3 Тренеры
	.slider_wrap
		.container
			.owl-carousel.owl-theme#slider
				.item
					.photo
						img(src="img/alex.png", alt="Александр Кудряшов")
					.decription
						h4
							span Александр 
							| Кудряшов
						h5 Генеральный директор академии MasterVision
						ul.coach_regs
							li Запустил в рамках Академии более 100 тренингов на различные темы от Мастера Эффективного общения до Магии Рун.
							li Общее количество людей, которые прошли через Академию более 80 000 человек
							li Руководит компанией с общим количеством сотрудников, включая аутсорсинг, более 1000 чел.
							li Автор и ведущий тренингов «Осознанные сновидения», «Преодоление страхов», «Дистанционное видение». Общее количество пришедших на тренинг учеников, более 5000 чел.
							li Экстрасенс, парапсихолог, мастер Расстановок по Хеллингеру. Дипломированный почетный Экстрасенс России
					.cleafix
				.item
					.photo
						img(src="img/andrew.png", alt="Андрей Грудин")
					.decription
						h4
							span Андрей 
							| Грудин
						h5 Бизнес консультант. Консалтер. Маркетолог. Специалист в области On-line продаж
						ul.coach_regs
							li Закончил Государственный университет по классу Менеджмент
							li Учредитель нескольких успешных бизнесов. Коммерческий директор академии MasterVision
							li Консультировал персонал банк «Росбанк» группа SOCIETE GENERALE, рестораны «Садык», группа компаний «МоРо», винный дом «Каудаль»
							li Запустил более 100 успешных тренингов со средним чеком более 25000 руб. Среднее количество учеников на каждом тренинге более 150 чел.
					.cleafix