section#for_whome
	.container
		h3 Для кого этот 
			span курс:
		.row
			.col-md-3.col-sm-6.col-sx-6
				.inner_container.first
					.icon
					p Вечные ученики у которых много знаний, но никак не получается стать преподавателем
			.col-md-3.col-sm-6.col-sx-6
				.inner_container.second
					.icon
					p Начинающие преподаватели, которых не устраивает количество учеников на курсе
			.col-md-3.col-sm-6.col-sx-6
				.inner_container.third
					.icon
					p Если у вас есть мечта стать преподавателем и дарить людям знания, но как то все не получается
			.col-md-3.col-sm-6.col-sx-6
				.inner_container.fourth
					.icon
					p У вас профиль работы не связан с обучением. Но работа вас не устраивает по уровню достатка. Хотите новый уровень дохода от 100 000 руб до миллиона в месяц