section#main
    include header
    .container.main_container
        h1 Как стать тренером. 
            br
            | Сделать свой успешный тренинг
        a.button(href="" target="_blank") Участвовать