section#plan
	h3 План 
		span курса
	.container
		#plan_tabs
			ul.lessons
				li
					a(href="#tab-1") Урок 1
				li
					a(href="#tab-2") Урок 2
				li
					a(href="#tab-3") Урок 3
				li
					a(href="#tab-4") Урок 4
				li
					a(href="#tab-5") Урок 5
				//- li
				//- 	a(href="#tab-6") Урок 6
			#tab-1.tab
				.row
					h4 Введение
					.col-md-12
						ul.list
							li 5 основных ошибок начинающих тренеров, которые убивают весь тренинг
							li 5 главных фишек, которые продадут любой тренинг. Примените их и вы обречены на успех
							li Как и сколько можно заработать на онлайн преподавании. Примеры
							li Что мешает стать тренером. Что мешает тренеру развиваться. Страхи и фобии
							li Недостаток компетенции. Как это влияет на становление тренера
							li Рынок онлайн-преподавания в России. Основные тенденции. Развитие. Перспективы
					//- .col-md-6.col-sm-6
						//- .ht_container
						//- 	img(src="img/ht_icon.jpg", alt="")
						//- 	p Выдается домашнее задание
			#tab-2.tab
				.row
					h4 Ораторское искусство
					.col-md-6.col-sm-6
						ul.list
							li как строить предложения
							li как захватывать собеседника
							li система ВИЖД (AIDA)
							li как преподавать так, что бы было интересно слушателям
							li продающие заголовки
							li обратная связь на вебинаре. Ее назначение и качественное исполнение
					.col-md-6.col-sm-6
						.ht_container
							img(src="img/ht_icon.jpg", alt="")
							p Выдается домашнее задание
			#tab-3.tab
				.row
					h4 Содержание тренинга
					.col-md-6.col-sm-6
						ul.list
							li Как четко структурировать свои знания и составить план занятий
							li длительность тренинга. количество занятий.
							li правильная обратная связь
							li показать пример им грамотно составленного плана тренинга
							li показать план нам, мы даем ОС
					.col-md-6.col-sm-6
						.ht_container
							img(src="img/ht_icon.jpg", alt="")
							p Выдается домашнее задание		
			//- #tab-3.tab
			//- 	.row
			//- 		h4 Вебинарная комната. Презентация
			//- 		.col-md-6.col-sm-6
			//- 			ul.list
			//- 				li какую выбрать
			//- 				li как пользоваться
			//- 				li как выходить в эфир
			//- 				li главные правила работы с вебинаркой
			//- 				li Сколько слайдов
			//- 				li Как составлять продающую презентацию
			//- 		.col-md-6.col-sm-6
			//- 			.ht_container
			//- 				img(src="img/ht_icon.jpg", alt="")
			//- 				p Выдается домашнее задание		
			#tab-4.tab
				.row
					h4 Продающий вебинар и продажи на вебинаре
					.col-md-6.col-sm-6
						ul.list
							li как составить план
							li содержание
							li длительность
							li что такое продажа и как строить продающий вебинар
							li несколько типов продаж
							li как вести себя на вебинаре
							li ответы на вопросы
							li продающий чат
					.col-md-6.col-sm-6
						.ht_container
							img(src="img/ht_icon.jpg", alt="")
							p Выдается домашнее задание		
			#tab-5.tab
				.row
					h4  Разбор полетов
					.col-md-12
						ul.list
							li В течение занятия сделать разбор полетов по предыдущему заданию. 
							li Выделить хорошее и указать что можно улучшить

					//- .col-md-6.col-sm-6
					//- 	.ht_container
					//- 		img(src="img/ht_icon.jpg", alt="")
					//- 		p Выдается домашнее задание



		p.price Стоимость курса: 
			span 9900р.
		a.button(href="" target="_blank") Записаться на курс