#for_whome
	position relative
	padding 83px 0
	text-align center
	overflow hidden
	&:before
		content url(../img/second_bg.jpg)
		position absolute
		top -7px
		margin 0 auto
		left 0
		right 0
		display block
		z-index -1
		width 1087px
	h3
		font-size: 40px;
		font-family: "GeometriaBold";
		color: #202121;
		line-height: 1.6;
		margin-bottom 70px
		span
			color #f58b30
.inner_container
	border-radius: 5px;
	box-shadow: 0px 9px 25px 4px rgba(0, 0, 0, 0.12);
	height: 439px;
	padding 40px 25px 0
	width 262px
	margin 0 auto
	background-color #fff
	.icon
		height 70px
		width 84px
		margin 0 auto 26px
		background-image url('../img/icons.jpg')
		background-position 0 0
		background-repeat no-repeat
	p
		font-size: 20px;
		font-family: "Geometria";
		color: rgb(32, 33, 33);
		line-height: 1.35;
& .second
	.icon
		background-position -84px 0
& .third
	.icon
		background-position -164px 0
& .fourth
	.icon
		background-position -246px 0