#main
	width 100%
	background-image url(../img/main_bg.jpg)
	background-position center bottom
	background-size cover
	background-repeat no-repeat
	padding-bottom 120px
	// height 100vh
.main_container
	background-image url(../img/elips_main.png)
	background-position center bottom
	background-size cover
	background-repeat no-repeat
	// display flex 
	// align-items center
	// justify-content center
	// align-content space-around
	// height calc(100vh - 80px)
	// flex-flow column wrap
	h1
		font-size: 51px;
		font-family: "GeometriaBold";
		color: rgb(254, 255, 255);
		line-height: 1.255;
		text-align: center;
		// height: 50%;
		margin: 77px 0 73px

#header
	padding: 27px 20px
	overflow hidden
#logo
	float: left
.contacts
	float: right
	text-align: right
	padding-right: 15px;
	.fa
		color: #ff7458
		font-size: 24px
		margin: 0 15px 0  40px
		&.fa-phone
			margin-left: 0
	.fa+span
		font-size: 20px;
		font-family: "OpenSansBold", arial;
		color: #fcfafa
		line-height: 26px
		text-align: right;
		&:hover
			text-decoration underline