#plan
	position relative
	padding-bottom 100px
	&:before
		content url(../img/plan_bg.jpg)
		position absolute
		bottom -7px
		margin 0 auto
		left 0
		right 0
		display block
		z-index -1
		width 1087px
	h3
		width 100%
		text-align center
		background-image url('../img/plan_h_bg.jpg')
		background-position center
		background-repeat no-repeat
		background-size cover
		line-height 202px
		font-size: 40px;
		font-family: "GeometriaBold";
		color: rgb(255, 255, 255);
		span
			color #f8853a
#plan_tabs
	margin 75px auto
	width 945px
.lessons
	width 100%
	border-radius 32px
	background-color: rgb(235, 245, 252);
	line-height: 63px;
	list-style none
	display table
	li
		display table-cell
		vertical-align middle
		text-align center
		font-size: 24px;
		font-family: "GeometriaBold";
		color: rgba(32, 33, 33, 0.502);
		transition all .5s ease-in-out
		&.ui-tabs-active.ui-state-active
		&.ui-state-hover
			background-image: linear-gradient( 90deg, rgb(255,116,88) 0%, rgb(240,152,25) 100%);
			box-shadow: 0px 3px 6.72px 1.28px rgba(0, 0, 0, 0.09);
			border-radius 32px
			transition all .1s ease-in-out
			a
				color: rgb(255, 255, 255);
				text-decoration none
		a
			display block
			width 100%
			height inherit

			line-height: 2.667;
			
